<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>Set_slot</servlet-name>
  	<display-name>Set_slot</display-name>
  	<description></description>
  	<servlet-class>com.virtusa.web.Set_slot</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>login</servlet-name>
  	<display-name>login</display-name>
  	<description></description>
  	<servlet-class>com.virtusa.web.AdminLogin</servlet-class>
  </servlet> 
  <servlet>
  	<servlet-name>custLogin</servlet-name>
  	<display-name>custLogin</display-name>
  	<description></description>
  	<servlet-class>com.virtusa.web.CustLogin</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SelectLevel</servlet-name>
  	<display-name>SelectLevel</display-name>
  	<description></description>
  	<servlet-class>com.virtusa.web.SelectLevel</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Register</servlet-name>
  	<display-name>Register</display-name>
  	<description></description>
  	<servlet-class>com.virtusa.web.Register</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>OTP</servlet-name>
  	<display-name>OTP</display-name>
  	<description></description>
  	<servlet-class>com.virtusa.web.OTP</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Verify</servlet-name>
  	<display-name>Verify</display-name>
  	<description></description>
  	<servlet-class>com.virtus.web.Verify</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Slot</servlet-name>
  	<display-name>Slot</display-name>
  	<description></description>
  	<servlet-class>com.virtusa.web.Slot</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>notify</servlet-name>
  	<display-name>notify</display-name>
  	<description></description>
  	<servlet-class>com.virtusa.web.notify</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Logout</servlet-name>
  	<display-name>Logout</display-name>
  	<description></description>
  	<servlet-class>com.virtusa.web.Logout</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>regenerate</servlet-name>
  	<display-name>regenerate</display-name>
  	<description></description>
  	<servlet-class>com.virtusa.web.regenerate</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>GetJSON</servlet-name>
  	<display-name>GetJSON</display-name>
  	<description></description>
  	<servlet-class>com.virtusa.web.GetJSON</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>getmessage</servlet-name>
  	<display-name>getmessage</display-name>
  	<description></description>
  	<servlet-class>com.virtusa.web.getmessage</servlet-class>
  </servlet>  
  <servlet-mapping>
  	<servlet-name>Set_slot</servlet-name>
  	<url-pattern>/slot-booking/book</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>login</servlet-name>
  	<url-pattern>/slot-booking/login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>custLogin</servlet-name>
  	<url-pattern>/slot-booking/custLogin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SelectLevel</servlet-name>
  	<url-pattern>/slot-booking/SelectLevel</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Register</servlet-name>
  	<url-pattern>/slot-booking/Register</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>OTP</servlet-name>
  	<url-pattern>/slot-booking/otp</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Verify</servlet-name>
  	<url-pattern>/slot-booking/verify</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Slot</servlet-name>
  	<url-pattern>/slot-booking/Slot</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>notify</servlet-name>
  	<url-pattern>/slot-booking/notify</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Logout</servlet-name>
  	<url-pattern>/slot-booking/Logout</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>regenerate</servlet-name>
  	<url-pattern>/regenerate</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>GetJSON</servlet-name>
  	<url-pattern>/getJSON</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>getmessage</servlet-name>
  	<url-pattern>/getmessage</url-pattern>
  </servlet-mapping>
  
</web-app>
